.logoSearch {
    display: flex;
    gap: 0.75rem;
}

.search {
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

.search>input {
    background-color: transparent;
    border: none;
    outline: none;
}

.icon {
    font-size: 25px;
}